<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zesenzhang.dynameic_analysis"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        <!--android:icon="@drawable/ic_launcher"-->
        android:label="@string/app_name" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" /><!--应用为模块-->
        <meta-data
            android:name="xposeddescription"
            android:value="Easy example which makes the status bar clock red and adds a smiley" /><!--模块描述-->
        <meta-data
            android:name="xposedminversion"
            android:value="53" /> <!--版本信息-->
    </application>
</manifest>
